.App {
  width: auto;
  border-style: solid;
  text-align: center;
  display: grid;
}

.intro-comp {
  background-image: url('night.jpeg');
  background-position: center;
  background-size: cover;
  width:80%;
  height: 100%;
  position: absolute;
  left: 20%;
  overflow: visible;
}

.intro-body {
  position: absolute;
  top: 25%;
  left: 10%;
  font-family: 'Helvetica';
}

.highlight {
  color: white;
}

.btn-large {
background-color: grey !important;
font-family: 'Helvetica' !important;
text-transform: capitalize !important;
font-weight: 900;
}

.about-comp {
  top: 200%;
  position: absolute;
  border-style: solid;
  background-color: red;
  width: 80%;
  height: 100%;
  left: 20%;
}

.portfolio-comp {
  top: 100%;
  position: absolute;
  background-image: url('bluetint.jpg');
  background-position: center;
  background-size: cover;
  border-style: solid;
  background-color: green;
  width: 80%;
  height: 100%;
  left: 20%;
}

.photo1 {
  border-style: dotted;
  position: relative;
  left: 5%;
  width: 93%;
}

.easy-parking-pic {
  position: absolute;
  left: 5%;
  width: 95%;
  background-position: center;
  background-size: cover;
}

.contact-comp {
  top: 300%;
  position: absolute;
}






.sideBar {
  border-style: groove;
  background-color: #005959;
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0%;
}

.social-icons {
  background-color: #191919;

  position: absolute;
  left:30%;
  top: 85%;
  text-align: center;
}

.circle {
  left: 50%
}

.pics {
  position: relative;
  left: 35%;
}

.white-text {
  position: relative;
  right: 35%;
  font-weight: bold;
}

.background {

  background-color: #191919;
}

.intro {
  background-color: #191919;
}

#introduction:hover{
  color: white !important;

}

.port {
  background-color: #191919;
}

#portfolio {
  color: grey;
}

#portfolio:hover {
  color: white;
}

.ab{
  background-color: #191919;
}

#about {
  color: grey;
}

#about:hover {
  color:white;
}

.co {
  background-color: #191919;
}

#contact {
  color: grey;
}

#contact:hover {
  color: white;
}

#introduction{
  color: grey;
}

#title {
  position: relative;
  right: 35%
}

#name{
  font-weight: 900;
}


#slide-out{
    background-color: #191919;
    font-family: 'Helvetica';
}

#linkedin {
  background-color: grey;
  text-shadow: 0 0 3px white;
}

#github {
  background-color: grey;
}

#gmail {
  background-color: grey;
}
.material-icons{
  color:grey;
}
