.App {
  width: auto;
  border-style: solid;
  text-align: center;
  display: grid;
}

.body {
  border-style: dashed;
  width:80%;
  height: 100%;
  position: absolute;
  left: 20%;
  overflow-y: auto
}

.sideBar {
  border-style: groove;
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0%;
}

.social-icons {
  position: absolute;
  left:30%;
  top: 86%;
  text-align: center;
}

.circle {

  left: 50%
}

.pics {
  position: relative;
  left: 35%;
}
.profile-pic {

}

.white-text {
  position: relative;
  right: 35%;
  font-weight: bold;
}
